@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  padding: 1.25em;
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.login-header {
  color: white;
}

.login-navbar-link {
  padding-left: 10px;
  padding-right: 10px;
}

.nav .nav-link.login-navbar-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav .nav-link.login-navbar-link:hover,
.nav .nav-link.login-navbar-link:focus {
  color: #0d6efd;
}

#login-address {
  font-size: 0.8em;
}

#login-welcome-text {
  font-size: 2.8em;
}

#login-office-text {
  font-size: 3.5em;
  font-weight: 700;
}