@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background-color: #F5F5F5;
}

body::before {
  display: block;
  content: '';
  height: 55px;
}

.navbar-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.custom-container {
  margin: 30px 60px 30px 60px;
}

.box-col {
  margin: 0 2px 0 2px;
  padding: 35px;
  background-color: white;
}

/* home page tab */
.nav-tabs .nav-item .nav-link {
  background-color: #d6dbdf; /* Background color for inactive tab */
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #fff; /* Background color for active tab */
  color: #566573;
}

.btn-icon {
  padding-right: 10px;
}

.bg-heading {
  background-color: #566573;
}

.bg-encoding-data {
  background-color: #f4f6f6;
  padding: 20px;
}

.bg-encoding-data p {
  padding: 10px;
  text-align: justify;
}

.heading-gray {
  color: #566573;
}

#btn-logout {
  text-decoration: none;
  width: 100%;
}
